.main {
    width: 825px;
    display: flex;
    --s: 100px; /* size  */
    --m: 1px; /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.mainPick {
    width: 825px;
    height: 500px;
    display: flex;
}
  
  

  .container {
    font-size: 0; /*disable white space between inline block element */
  }
  
  .container div {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
  }

.NonVP {
    background: rgba(69, 180, 69, 0.863);
}

.VP {
    background: rgba(131, 180, 69, 0.86);
}

.TwoVP {
    background: rgba(184, 208, 85, 0.86);
}

.RedShopHex {
    background: rgb(217, 143, 105, 0.86);
}

.BlueShopHex {
    background: rgb(69, 146, 180, 0.86);
}

.Victory {
    width: 580px;
    height: 60px;
    border: 5px solid rgb(1, 73, 1);
    border-radius: 10px 10px 100% 100%;
    font-weight: 600;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 36px;
    position: absolute;
    left: 145px;
    top: 8px;
}

.VictoryBlue {
    background-color: rgba(0, 99, 248, 1);
}

.VictoryRed {
    background-color: red;
}

.Gray {
    background-color: gray;
}

.Turn {
    font-weight: 600;
    font-size: 36px;
    display: flex;
    width: 865px;
    height: 100px;
    border: 4px solid rgb(1, 73, 1);
    border-radius: 0px 0px 50px 50px;
    position: relative;
    top: -120px;
    z-index: -6;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: flex-end;
}

.Turn.PickBan {
    top: -60px;
}

.VPDiv {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: flex-end;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 6px;
}


  div.hero.red {
    /* background: rgb(120, 205, 238); */
    background: red;
  }

  div.hero.blue {
    background: rgb(0, 99, 248);
  }

  button.spell {
      width: 100px;
      height: 100px;
      background-color: rgb(151, 248, 142);
      border: 3px solid rgb(1, 73, 1);
      border-radius: 10px;
      font-weight: 600;
  }

p.ItemCD {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
    font-weight: bold;
}

button.item {
    width: 90px;
    height: 90px;
    background-color: lightgray;
    border: 3px solid rgb(1, 73, 1);
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 40%;
    background-size: cover;
    position: relative;
    -webkit-text-stroke: 1px #FFFFFF;
}
    button.item.level1 {
        background-color: lightgreen;
    }
    button.item.level2 {
        background-color: yellowgreen;
    }
    button.item.level3 {
        background-color: skyblue;
    }
    button.item.level4 {
        background-color: mediumpurple;
    }

    button.item.cooldawn {
        filter: grayscale(1);
    }

div.statusbaritem {
    border: 3px solid rgb(1, 73, 1);
    border-radius: 100%;
    background-color: rgb(126, 207, 118);
    width: 44px;
    height: 44px;
    margin-right: 6px;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: 24px;
    -webkit-text-stroke: 0px white; /* Толщина и цвет обводки */
    text-shadow: 0 0 2px white;
    display: inline-block;
    vertical-align: top;
    color: black;
}

    div.statusbaritem.debuff {
        border: 3px solid red;
        background-color: #c26c6c;
    }

    div.statusbaritem.buff {
        border: 3px solid rgb(1, 73, 1);
        background-color: rgb(126, 207, 118);
    }

  button.passive {
      border-radius: 50px;
  }

  button.spellActive {
    width: 100px;
    height: 100px;
    background-color: rgb(220, 226, 161);
    border: 3px solid rgb(165, 184, 1);
    border-radius: 10px;
    font-weight: 600;
  }

    button.spell.cooldawn {
        width: 100px;
        height: 100px;
        background-color: lightgray;
        border: 3px solid rgb(1, 73, 1);
        border-radius: 10px;
        font-weight: 600;
    }

button.upgrade {
    width: 100px;
    height: 25px;
    background-color: yellow;
    border: 3px solid rgb(1, 73, 1);
    border-radius: 10px;
    font-weight: 600;
    margin-right: 6px;
}

button.controls {
    width: 100px;
    background-color: rgb(151, 248, 142);
    border: 3px solid rgb(1, 73, 1);
    border-radius: 10px;
}

button.cancel {
    background-image: url("Cancel.png");
    background-size: unset ;
}

div.cooldawn {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    filter: grayscale(1);
}

p.cooldawn {
    line-height: 0px;
    font-size: 68px;
    font-weight: bolder;
    text-shadow: 1px 1px 10px black;
    color: black;
    margin-top: 50px;
    -webkit-text-stroke: 1px white; /* Толщина и цвет обводки */
}

  
 
  .container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
        #000  0 calc(3px),      
        #0000 0 calc(var(--f) + 3px));
  }

  div.hpbar {
    width: 300px;
    height: 30px;
    /* background-color: rgb(238, 150, 150); */
    font-size: 26px;
    text-align: center;
    border: 3px solid rgb(1, 73, 1);
    border-radius: 10px;
    margin-left: 10px;
  }

  div.hpbarCurrent {
    height: 30px;
    /* background-color: red; */
    position: absolute; z-index: 1;
    border: 0px solid;
    border-radius: 6px;
  }

  div.skillInfo {
    width: 200px;
    height: auto;
    padding: 8px;
    border: 5px solid rgb(1, 73, 1);
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 0px 8px 8px white;
    background-color: rgb(151, 248, 142);
    font-size: 22px;
    z-index: 1000;
  }

  div.skillInfoShow {
    transition-delay: 0.4s;
    /* transition-duration: 0.5s; */
    opacity: 1;    
  }

  div.skillInfoHide {
    position: absolute;
    opacity: 0;
  }

  /* div.hpbarCurrent {
    height: 30px;
    background-color: blue;
    position: absolute; z-index: 1;
  } */

  td.heroinfo {
    min-width: 50px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    display: inline-flex;
    padding: 4px;
    margin-left: 10px;
    border: 3px solid rgb(1, 73, 1);
    border-radius: 10px;
    text-align: center;
  }

  div.heroinfo_icon {
    width: 100px;
    height: 100px;
    background-color: red;
    background-size: cover;
    border: 3px solid rgb(1, 73, 1);
    border-radius: 10px;
  }

  .heroinfo_icon_img {
    width: 90px;
    height: 90px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
  }

div.AP_container {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 276px;
    background-color: rgb(151, 248, 142);
    border: 3px solid rgb(1, 73, 1);
    border-radius: 40px;
    margin-left: 20px;
}

button.TeamPick {
    background-color: rgb(151, 248, 142);
    border-radius: 10px;
    width: 360px;
    height: 100px;
    font-size: 28px;
    font-weight: bold;
}

    button.TeamPick.Red {
        background-color: red;
    }

    button.TeamPick.Blue {
        background-color: rgb(0, 99, 248);
    }

div.HeroPick {
    display: inline-block;
    background-color: lightgreen;
    margin: 4px;
    padding: 4px;
    border: 4px solid rgb(1, 73, 1);
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
    div.HeroPick.Banned {
        filter: grayscale(1);
    }

    div.HeroPick.Pickedred {
        background-color: red;
        border: 4px solid darkred;
    }

    div.HeroPick.Pickedblue {
        background-color: rgb(0, 99, 248);
        border: 4px solid blue;
    }

div.ShopItem {
    display: inline-block;
    background-color: lightgray;
    margin: 4px;
    padding: 4px;
    border: 4px solid rgb(120, 76, 23);
    border-radius: 10px;    
}
    div.ShopItem.Sold {
        filter: grayscale(1);
    }

    div.ShopItem.Sell {
        background-color: gold;
        border: 4px solid #988103;
    }

    div.ShopItem.lvl1 {
        background-color: lightgreen;
        border: 4px solid rgb(120, 76, 23);
    }

    div.ShopItem.lvl2 {
        background-color: yellowgreen;
        border: 4px solid rgb(120, 76, 23);
    }

    div.ShopItem.lvl3 {
        background-color: skyblue;
        border: 4px solid rgb(120, 76, 23);
    }

    div.ShopItem.lvl4 {
        background-color: mediumpurple;
        border: 4px solid rgb(120, 76, 23);
    }

div.ShopButton {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: gold;
    margin-top: 4px;
    padding: 2px;
    border: 0px solid rgb(120, 76, 23);
    border-radius: 10px;
    cursor: pointer;
}

    div.ShopButton.Sold {
        background-color: gray;
    }

    div.ShopButton.Sell {
        background-color: royalblue;
    }

div.Shop {
    display: block;
    width: 832px;
    height: 630px;
    background-color: sandybrown;
    padding: 20px;
    padding-bottom: 40px;
    border: 6px solid rgb(120, 76, 23);
    border-radius: 50px;
    margin-right: 20px;
    z-index: 100;

    position: absolute;
    top: 8px;
    left: 8px;
}

.StartBattle {
    width: 340px;
    height: 100px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 10px;
    border: 5px solid rgb(196, 196, 4);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}